<h1>Places I've Been</h1>

<ul>
  <% for place in @places %>
    
      <a href="/places/<%= place["id"] %>">
        <p><%= place["name"]%></p>
      </a>
    
  <% end %>
</ul>

<div style="margin-top: 50px;"></div>
<a href="/places/new">New Place</a>